body {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    width: 100%;
    background-color: #F7DC6F
}
.container {
    margin-top: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}
.title {
    text-align: center;
    font-size: 35px;
    color: #2C3E50;
    margin-top: 24px;
    margin-bottom: 48px;
}
.title h1 {
    margin: 0;
}
.counter h1 {
    margin: 0;
}
.counter {
    text-align: center;
    font-size: 45px;
    color: #229954;
}
.allButtons {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 52px;
}
.button {
    width: 120px;
    height: 30px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 4px;
    letter-spacing: 2px;
}
.button:hover{
    cursor: pointer;
    border: solid 2px #2C3E50;
}
@media (max-width: 900px) {
    .container {
        margin-left: 12px;
        margin-right: 12px;
    }
    .button {
        width: 104px;
    }
  }


